BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE Alunos
	(
	InscricaoId int NOT NULL IDENTITY (1, 1),
	AlunoId int NOT NULL,
	DataInicio datetime NOT NULL,
	DataTermino datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE Alunos ADD CONSTRAINT
	PK_Alunos PRIMARY KEY CLUSTERED 
	(
	InscricaoId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE Alunos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

drop table Alunos